@using Users.Ioc;
@{
    Layout = "~/Layouts/_AdminLayout.cshtml";
    Page.Title = "Users";
}
@section Users
    {
    <table class="table table-striped table-dark" style="position:absolute; margin-left:20px; margin-top:100px; width:500px;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="auto">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Age</th>
                <th scope="col">Awards</th>
            </tr>
        </thead>
        <tbody>

            @{var logic = DependencyResolver.UserLogic;
                foreach (var item in logic.GetAll())
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><div>
                                @{if (item.Photo != null)
                                    { <img style="width:50px;height:50px;" src="@item.Photo" alt="image"/>}
                                  else
                                    {<img style="width:50px;height:50px;" src="~/Images/thumbs/thumbnail.jpg" alt="image"/>}
                            }
                        </div></td>
                        <td>@item.Name</td>
                        <td>@item.DateOfBirth.ToString("yyyy-MM-dd")</td>
                        <td>@item.Age</td>
                        <td>
                            @{ if (item.Award != null)
                                {
                                    foreach (var i in item.Award)
                                    {@i.Title<br>}
                                }
                              }
                        </td>
                    </tr>
                }
            }
}
</tbody>
</table>
    

